.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.header h1{
    text-transform: uppercase;
    line-height: 1.225;
}
.menu ul {
    display: flex;
    gap: 1.2rem;
}
.menu ul li a {
    text-transform: uppercase;
    color: #141414;
}

@media(max-width: 750px){
    .header{
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
    }
    .menu ul li a{
        padding: 0.8rem;
        background-color: #f3f3f3;
        border-radius: 4px;
    }
}
@media(max-width:450px){
    .menu ul{
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .menu ul li{
        margin: 5px;
    }
}